{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{deps, [
    % {misultin,   ".*", {git, "git://github.com/ostinelli/misultin",       {branch, "master"}}},
    % {webmachine, ".*", {git, "git://github.com/basho/webmachine",         {branch, "master"}}},
    % {riakc,      ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}}
    {cowboy,   ".*", {git, "git://github.com/extend/cowboy",       {branch, "master"}}},
    {mimetypes, ".*",
                {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
    {bert, ".*", {git, "git://github.com/seancribbs/bert.erl.git", "master"}},
    %{oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git"}},
    {uuid, ".*", {git, "git://github.com/akreiling/erlang-uuid.git"}}
]}.

